<div class="image">
    {{!-- attributes passed into component will be under the element where ...attributes is --}}
    {{!-- Its similar to how {{yield}} works.  Any EXTRA stuff passed into a COMPONENT (not as attributes like src but like named tags) will display starting --}}
    {{!-- from where {{yield}} was at within the component --}}
  <img ...attributes> 
</div>