<a
  ...attributes
  href={{this.shareURL}}
  target="_blank"
  rel="external nofollow noopener noreferrer"
  {{!-- //BTW CLASS ATTRIBUTES IS THE ONE EXCEPTION: it CAN STILL be overwritten!! --}}
  class="share button"
>
  {{yield}}
</a>